In [ ]:
# import the helper functions from the parent directory,
# these help with things like graph plotting and notebook layout
import sys
sys.path.append('..')
from helper_functions import *

# set things like fonts etc - comes from helper_functions
set_notebook_preferences()

# add a show/hide code button - also from helper_functions
toggle_code(title = "import functions")

# From BasicPython

In [ ]:
quantity = 3
itemno = 567
price = 49.95

In [ ]:
print("I want to pay %d dollars for %d pieces of item %s." % (price, quantity, str(itemno)))

In [ ]:
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

# From SelectIterseq

**The while loop**

The format of a rudimentary while loop is shown below:

```python
while <expr>:
    <statement(s)>
```
    
<statement(s)> represents the block to be repeatedly executed, often referred to as the body of the loop. 
This is denoted with indentation, just as in an if statement.

The controlling expression, <expr>, typically involves one or more variables that are initialized prior to starting the loop and then modified somewhere in the loop body.

When a while loop is encountered, <expr> is first evaluated in Boolean context.
If it is true, the loop body is executed. Then <expr> is checked again, and if still true, the body is executed again. This continues until <expr> becomes false, at which point program execution proceeds to the first statement beyond the loop body.

In [ ]:
#The while loop

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())

print (a)
print('Done.')

# Exercise 5

<br>

4. Initailise an empty list to hold all country names in Europe. Set up a while loop to allow a user to keep adding entries
   to the list until he/she wants to stop.

In [ ]:
#3.
#countries = []
#cont = 'yes'
#while cont == 'yes' or cont == 'y' or cont =='Y':
#    country = input("Add Country")
#    countries.append(country)
#    cont = input("Would you like to continue (Y/y/yes) - to continue")# enumerate

In [ ]:
L = ['apples', 'bananas', 'oranges']
for idx, val in enumerate(L):
  print("index is %d and value is %s" % (idx, val))

## 4.6 Functions and Parameters

A **function** is a block of code which only runs when it is called.
You can pass data, known as **parameters**, into a function.
A function can **return** data as a result.

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))

In [ ]:
def sum_two_numbers(a, b):
    return a + b
print (sum_two_numbers(3, 2))

In [ ]:
def changeme( mylist ):
   #This changes a passed list into this function"
   mylist = [1,2,3,4]; # This would assig new reference in mylist
   print ("Values inside the function: ", mylist)
   return mylist 

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print ("Values outside the function: ", mylist)

## Exercise 6

1. Write a python function to multiply any two integers (passed into the function through parameters) and return the product.

2. Write a Python function to calculate the hypotenuse of a right angled triangle. Pass in the length of the other two sides as parameters.

3. Here are some words in English that are known as stopwords:
    
    
```python
 stop = ['you','herself','it','its', 'a', 'the', 'he', 'him']
```
        
       
Write a Python function that takes text (str) and the above stopwords as values passed to parameters. The function then removes all words in the text that are in the list stop with a space.The function should return the string with the stopwords removed.

In [ ]:
#def mult(p1, p2):
#    return p1*p2
#print(mult(2,3))

#import math
#def pythagorean(aside, bside):
#    return(math.sqrt((aside)**2 + (bside)**2))
#print (pythagorean(5,7))

#def remove_stopwords(ptext, pstop):
#    ptext = ptext.lower().split(" ")
#    
#    for index in range(len(ptext)-1,-1,-1):
#         
#         if ptext[index] in pstop:
#            ptext.remove(ptext[index])
#           
#      
#    ptext = " ".join(ptext)
#    return ptext   

#print (remove_stopwords('This is a lovely cat. She has a long, furry tail', ['a','is','has']))

toggle_code()

## From Pandas

In [ ]:
# print out the number of rows and columns
print("There are {} rows and {} columns in the titanic dataset".format(numrows, numcols))

In [ ]:
#colnames = colnames.tolist()
# or

## From NewVar

## 3.4 Classifying Numerical Values using pd.cut() and pd.qcut()

New columns can be created directly when classifying numerical data using `pd.cut()` or `pd.qcut()`

`cut()` has two behaviours. The default is to create a given number of equal-sized bins (e.g. the width of all bins are the same), however if you provide bins it will cut according to those bins.

`qcut()` is similar, but rather than equal-sized bins it created bins that have (roughly) equal numbers of observations in them. These bins could have very different widths.

In [ ]:
# Divide fare into 3 equally sized classes.
titanic['fare_3class'] = pd.cut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

In [ ]:
# Divide fare into tertile.
titanic['fare_tertiles'] = pd.qcut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

## From CrossTab

# Crosstabs, Contingency, and Two-Way Tables

Similar to aggregation with `.groupby()` a cross-tabulation table allows you to generate frequencies for combinations of groups of data.

## 7.1 Crosstabulation using the `pd.crosstab()` top-level function

Crosstabs are often also refered to as 'contingency tables' and 'two-way tables' and, although there may be some subtle distinctions, these all refer to the setting of one categorical variable against another, creating a matrix, and then counting, or otherwise aggregating by cell values.

To create cross-tabulations, you can use the `pandas.crosstab()` function.

Let's have a look at a simple example:

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'])

The basic use of `.crosstab()` requires that you input the row category ('survived') and the column category ('sex'). This produces cell counts for the cross-tabulation of the two categories, so there were 339 passengers who were both 'female' and 'survived'.

The basic crosstab can be augmented with some additional parameters:
* `margins` - set to `True` to add row and column totals.
* `normalize` - create row or column proportions, or overall proportions, rather than frequencies. Keywords are 'index', 'columns' or 'all'.

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'], margins=True, normalize = 'columns')

# Exercise 6

1. What is the average fare paid by men and women?
2. What is the median fare paid by men and women in each different class?
3. Create a crosstab for 'survived' and 'pclass', which class is the best for survival?

In [ ]:
## Question 1

#print(titanic.groupby('sex')['fare'].mean(),'\n')

## Question 2

#print(titanic.groupby(['sex','pclass'])['fare'].median(),'\n')

## Question 3

#print(pd.crosstab(titanic['survived'],titanic['pclass'], margins=True, normalize = 'columns'))